<h1><%= item.id ? 'Edit' : 'New' %> Navigation Item</h1>
<form action="/navigation/<%= item.id %>" method="POST">
  <% if (item.id) { %>
    <input type="hidden" name="_method" value="PUT"/>
  <% } %>

  <div class="form-group">
    <label for="navigation-title">Title</label>
    <input id="navigation-title"
      class="form-control"
      type="text"
      name="title"
      value="<%= item.title %>">
  </div>

  <div class="form-group">
    <label for="navigation-url">URL</label>
    <input id="navigation-url"
      class="form-control"
      type="text"
      name="url"
      value="<%= item.getDataValue('url') %>">
  </div>

  <div class="form-group">
    <label for="navigation-parent">Parent</label>
    <select id="navigation-parent" class="form-control" name="parentId">
      <option value=""></option>
      <% navigationItems.forEach(function(navItem) { %>
        <% if (navItem.id !== item.id && !item.Children.length) { %>
          <option value="<%= navItem.id %>"
            <% if (item.Parent && item.Parent.id == navItem.id) { %>
              selected
            <% } %>>
            <%= navItem.title %>
          </option>
        <% } %>
      <% }); %>
    </select>
  </div>

  <div class="form-group">
    <label for="navigation-page">Page</label>
    <select id="navigation-page" class="form-control" name="pageId">
      <option value=""></option>
      <% pages.forEach(function(page) { %>
        <option value="<%= page.id %>"
          <% if (item.Page && item.Page.id == page.id) { %>
            selected
          <% } %>>
          <%= page.title %>
        </option>
      <% }); %>
    </select>
  </div>

  <div class="form-group text-right">
    <a class="btn btn-sm btn-default" href="/navigation">Cancel</a>
    <input class="btn btn-sm btn-primary"
      type="submit"
      value="<%= item.id ? 'Save' : 'Create' %>"/>
  </div>
</form>
