<h1>Blog Categories</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Enabled</th>
      <th class="text-right">
        <a class="btn btn-sm btn-primary" href="/admin/blog/categories/new" title="New Blog Category">
          <span class="glyphicon glyphicon-file"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(function(category) { %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.description %></td>
        <td>
          <span
            class="glyphicon glyphicon-<%= category.enabled ? 'ok' : 'remove' %>"
            ></span>
        </td>
        <td class="text-right">
          <a class="btn btn-sm btn-primary" href="/admin/blog/categories/<%= category.id %>/edit" title="Edit Blog Category">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="btn btn-sm btn-danger" href="/admin/blog/categories/<%= category.id %>/delete" title="Delete Blog Category">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

