<h1><%= page.id ? 'Edit' : 'New' %> Page</h1>
<form action="/admin/pages/<%= page.id %>" method="POST">
  <% if (page.id) { %>
    <input type="hidden" name="_method" value="PUT"/>
  <% } %>

  <div class="form-group">
    <label for="page-title">Title</label>
    <input class="form-control" type="text" name="title" id="page-title" value="<%= page.title %>"/>
  </div>
  <div class="form-group">
    <label for="page-url">URL</label>
    <input class="form-control" type="text" name="url" id="page-url" value="<%= page.url %>"/>
  </div>
  <div class="form-group">
    <label for="page-content">Content</label>
    <textarea class="form-control" name="content" id="page-content" rows="14"><%- page.content %></textarea>
  </div>
  <div class="form-group text-right">
    <a class="btn btn-sm btn-default" href="/admin/pages">Cancel</a>
    <input class="btn btn-sm btn-primary" type="submit" value="<%= page.id ? 'Save' : 'Create' %>"/>
  </div>
</form>

