<h1>Pages</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Navigation Item</th>
      <th>Enabled</th>
      <th class="text-right">
        <a class="btn btn-sm btn-primary" title="New Page" href="/admin/pages/new">
          <span class="glyphicon glyphicon-file"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <% pages.forEach(function(page) { %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.url %></td>
        <td>
          <% if (page.NavigationItem) { %>
            <a href="/admin/navigation/<%= page.NavigationItem.id %>/edit">
              <%= page.NavigationItem.title %>
            </a>
          <% } %>
        </td>
        <td>
          <span
            class="glyphicon glyphicon-<%= page.enabled ? 'ok' : 'remove' %>"
            ></span>
        </td>
        <td class="text-right">
          <a href="/admin/pages/<%= page.id %>" title="View Page" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <a href="/admin/pages/<%= page.id %>/edit" title="Edit Page" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a href="/admin/pages/<%= page.id %>/delete" title="Delete Page" class="btn btn-sm btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

